
body {
    background-color: rgba(118, 158, 203, 0.4);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#startslate {
    margin: 10px auto 0 auto;
    padding: 0;
    text-align: center;
    font-size: 18px;
    background-color: #f3f3f3;
    color: black;
    width: 25%;
    height: 40px;
    line-height: 40px;
    border-radius: 40px 40px 0 0;
    box-shadow: 0px 0px 1px rgba(60, 60, 60, 0.6);
}

#endslate {
    font-weight: normal;
    margin: 0 auto 10px auto;
    padding: 0;
    text-align: center;
    font-size: 14px;
    background-color: #f3f3f3;
    color: black;
    width: 25%;
    height: 60px;
    line-height: 30px;
    border-radius: 0 0 40px 40px;
    box-shadow: 0px 2px 1px rgba(60, 60, 60, 0.4);
}

#endslate p {
    margin: 0;
    padding: 0;
}

#link {
    text-align: center;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: gray;
    transition: 0.1s;
}

a:hover {
    color: black;
    transition: 0.1s;
}


#game_board {
    margin: 0 auto;
    background: #f3f3f3;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 1px rgba(60, 60, 60, 0.4);
}

.game_square {
    float: left;
    background: rgba(60, 60, 60, 0.3);
    height: 22px;
    width: 22px;
    margin: 1px;
    box-shadow: 0px 1px 1px rgba(60, 60, 60, 0.4);
}

.snakehead {
    background-color: rgba(0, 75, 0, 0.7);
    box-shadow: 0px 1px 1px rgba(0, 75, 0, 0.4);
}

.snake {
    background-color: rgba(0, 125, 0, 0.7);
    box-shadow: 0px 1px 1px rgba(0, 125, 0, 0.4);
}

.fruit {
    background-color: rgba(175, 0, 0, 0.8);
    box-shadow: 0px 1px 1px rgba(175, 0, 0, 0.4);
}

.badfruit {
    background-color: rgba(150, 50, 25, 0.7);
    box-shadow: 0px 1px 1px rgba(150, 50, 25, 0.4);
}

