
body {
    background: gray;
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 1);
}

#game_board {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.game_square {
    float: left;
    background: rgba(0, 0, 0, 0.8);
    height: 20px;
    width: 20px;
    box-shadow: inset 0px 0px 1px gray;
}

.snakehead, .snake {
    background-color: rgba(0, 125, 0, 0.5);
}

.fruit {
    background-color: rgba(125, 0, 0, 0.5);
}